* {
    margin: 0;
    padding: 0;
    font-style: bold;
    clear: both;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins';
}



body {
    overflow: hidden;
}

.container {
    display: flex;
    align-items: center;
    position: fixed;

}

/* -------------------------------------------------left side------------------------------------------------------- */
.left_side {
    width: 700px;
    height: 100vh;
    background-color: #1CAA77;
    /* display: flex;
    flex-direction: column; */
}

.left_img,
.right_img {
    width: 500px;
    height: 500px;

}

.left_side h2 {
    text-align: center;
    color: #F5F5F5;
}

.left_side img {
   margin-left: 110px;

}


/* -------------------------------------------------------right side -------------------------------------------------- */
.container .right_side {
    display: flex;
    /* Arrange logo and form side-by-side */
    flex-direction: column;
    /* Stack elements vertically */
    align-items: center;
    justify-content: center;
}

.login_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Aligns image to the right */
    align-items: flex-start;



}

.right_h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
    position: relative;
    border-bottom: #1CAA77;
}

.right_h2::before {
    border-radius: 100px;
    width: 55px;
    height: 6px;
    position: absolute;
    content: "";
    background-color: #1CAA77;
    bottom: -8px;
}

.right_img {
    width: 550px;
    height: auto;
    position: absolute;
    top: -170px;
    right: -70px;
    margin-bottom: 600px;

}

.right_side form {
    width: 600px;
    justify-content: center;
    padding: 0px 30px;
    display: flex;
    /* Arrange logo and form side-by-side */
    flex-direction: column;
    /* Stack elements vertically */
    align-items: center;
    margin-top: 200px;
    margin-left:50px ;



}
.right_side form  .code{
    display: flex;
    /* Arrange logo and form side-by-side */
    flex-direction: row;
    /* Stack elements vertically */
    align-items: center;

}


.right_side form .input_box input {
    width: 80px;
    margin: 10px;
    font-size: 20px;
    padding: 20px 20px;
    
    border: none;
    background-color: #F5F5F5;
    border-radius: 15px;
}


.right_side form .forget_password .forget_box a {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    margin: 20px 20px;
    color: #1CAA77;
    text-decoration: none;
    transition: 0.2s;
}

.right_side form .login_button {
    width: 550px;
    background-color: #1CAA77;
    border: none;
    padding: 10px 0;
    margin-top: 30px;
    border-radius: 15px;
    color: #F5F5F5;
    cursor: pointer;
    font-size: 25px;
}

