 <div class="container">

        <div class="left_side">
            <img class="left_img" src="../../assets/imags/photo login.png " alt=" ">
            <h2 class="left_h2">Admin App</h2>
        </div>

        <div class="right_side">
            <img class="right_img" src="../../assets/imags/loginside.png " alt=" ">

            <form action=""  (submit)="goToNewPassword()">
                <!-- <h2>Register Form</h2> -->
                <h2 class="right_h2">Login</h2>
                <div class="code">
                    <div class="input_box">
                        <input class="input-field" type="text"  autofocus required>
                    </div>
                    <div class="input_box">
                        <input class="input-field" type="text"  autofocus required>
                    </div>
                    <div class="input_box">
                        <input class="input-field" type="text"  autofocus required>
                    </div>
                    <div class="input_box">
                        <input class="input-field" type="text" autofocus required>
                    </div>
                    <div class="input_box">
                        <input class="input-field" type="text" autofocus required>
                    </div>
                </div>




                <button type="submit" class="login_button" routerLink="/newPassword">Confirm</button>
            </form>

        </div>
    </div>