<div class="sidebar">


    <div class="sidebar-menu">

        <ul>
            <div class="logo">
                <img src="../../assets/imags/logo.png" alt="logo">
            </div> 
            <li><a  routerLink="/home" routerLinkActive="active"> <i class="fi fi-rr-house-blank"></i><span>Home</span></a></li>
            <li><a  routerLink="/account" routerLinkActive="active"><i class="fi fi-rr-users-alt"></i> <span>Accounts</span></a></li>
            <li><a  routerLink="/market" routerLinkActive="active"> <i class="fi fi-rr-shopping-bag"></i> <span>Markete</span></a></li>
            <li><a  routerLink="/message" routerLinkActive="active"><i class="fi fi-rr-comment"></i> <span>Messages</span></a>
            </li>
            <li><a routerLink="/carts" routerLinkActive="active"><i class="fi fi-rr-shopping-cart"></i><span>Carts</span></a></li>
            <li><a routerLink="/category" routerLinkActive="active"><i class="fi fi-rs-settings-sliders"></i> <span>Categories</span></a></li>

        </ul>
    </div>


</div>