<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.3.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.3.0/uicons-regular-straight/css/uicons-regular-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-brands/css/uicons-brands.css'>

</head>

<body>
   <app-decoration></app-decoration>
    <div class="main-content">
        <header>
            <h1>
                Messages
            </h1>
            
        </header>

        <main>
         


        
            <h2>User Problems</h2>
            <table class="salers">
                <thead>
                   <tr>
                    <th> Username <i class="fi fi-sr-user"></i></th>
                    <th> Phone Number <i class="fi fi-rr-phone-flip"></i></th>
                    <th> Problem <i class="fi fi-rr-exclamation"></i></th>
                    <th>Contact</th>
                </tr> 
                </thead>
                <tbody>
                     <tr>
                    <td>Fatma Ahmed</td>
                    <td>01015006073</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                         Nam eveniet optio repudiandae labore sint rem molestias dolor, 
                        commodi, adipisci repellat debitis quae id. Porro possimus consectetur 
                        qui quis labore ratione?</td>
                        <td><a href=""><i class="fi fi-brands-whatsapp"></i></a></td>
                </tr>
                <tr>
                    <td>Fatma Ahmed</td>
                    <td>01015006073</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                         Nam eveniet optio repudiandae labore sint rem molestias dolor, 
                        commodi, adipisci repellat debitis quae id. Porro possimus consectetur 
                        qui quis labore ratione?</td>
                    <td><a href=""><i class="fi fi-brands-whatsapp"></i></a></td>
                </tr>
                <tr>
                    <td>Fatma Ahmed</td>
                    <td>01015006073</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                         Nam eveniet optio repudiandae labore sint rem molestias dolor, 
                        commodi, adipisci repellat debitis quae id. Porro possimus consectetur 
                        qui quis labore ratione?</td>
                        <td><a href=""><i class="fi fi-brands-whatsapp"></i></a></td>
                </tr>
                <tr>
                    <td>Fatma Ahmed</td>
                    <td>01015006073</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                         Nam eveniet optio repudiandae labore sint rem molestias dolor, 
                        commodi, adipisci repellat debitis quae id. Porro possimus consectetur 
                        qui quis labore ratione?</td>
                        <td><a href=""><i class="fi fi-brands-whatsapp"></i></a></td>
                </tr>
                <tr>
                    <td>Fatma Ahmed</td>
                    <td>01015006073</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                         Nam eveniet optio repudiandae labore sint rem molestias dolor, 
                        commodi, adipisci repellat debitis quae id. Porro possimus consectetur 
                        qui quis labore ratione?</td>
                        <td><a href=""><i class="fi fi-brands-whatsapp"></i></a></td>
                </tr>
                <tr>
                    <td>Fatma Ahmed</td>
                    <td>01015006073</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                         Nam eveniet optio repudiandae labore sint rem molestias dolor, 
                        commodi, adipisci repellat debitis quae id. Porro possimus consectetur 
                        qui quis labore ratione?</td>
                        <td><a href=""><i class="fi fi-brands-whatsapp"></i></a></td>
                </tr>
                <tr>
                    <td>Fatma Ahmed</td>
                    <td>01015006073</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                         Nam eveniet optio repudiandae labore sint rem molestias dolor, 
                        commodi, adipisci repellat debitis quae id. Porro possimus consectetur 
                        qui quis labore ratione?</td>
                        <td><a href=""><i class="fi fi-brands-whatsapp"></i></a></td>
                </tr>
                <tr>
                    <td>Fatma Ahmed</td>
                    <td>01015006073</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                         Nam eveniet optio repudiandae labore sint rem molestias dolor, 
                        commodi, adipisci repellat debitis quae id. Porro possimus consectetur 
                        qui quis labore ratione?</td>
                        <td><a href=""><i class="fi fi-brands-whatsapp"></i></a></td>
                </tr>
                <tr>
                    <td>Fatma Ahmed</td>
                    <td>01015006073</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                         Nam eveniet optio repudiandae labore sint rem molestias dolor, 
                        commodi, adipisci repellat debitis quae id. Porro possimus consectetur 
                        qui quis labore ratione?</td>
                        <td><a href=""><i class="fi fi-brands-whatsapp"></i></a></td>
                </tr>
                <tr>
                    <td>Fatma Ahmed</td>
                    <td>01015006073</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                         Nam eveniet optio repudiandae labore sint rem molestias dolor, 
                        commodi, adipisci repellat debitis quae id. Porro possimus consectetur 
                        qui quis labore ratione?</td>
                        <td><a href=""><i class="fi fi-brands-whatsapp"></i></a></td>
                </tr>
                <tr>
                    <td>Fatma Ahmed</td>
                    <td>01015006073</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                         Nam eveniet optio repudiandae labore sint rem molestias dolor, 
                        commodi, adipisci repellat debitis quae id. Porro possimus consectetur 
                        qui quis labore ratione?</td>
                        <td><a href=""><i class="fi fi-brands-whatsapp"></i></a></td>
                </tr>
                <tr>
                    <td>Fatma Ahmed</td>
                    <td>01015006073</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                         Nam eveniet optio repudiandae labore sint rem molestias dolor, 
                        commodi, adipisci repellat debitis quae id. Porro possimus consectetur 
                        qui quis labore ratione?</td>
                        <td><a href=""><i class="fi fi-brands-whatsapp"></i></a></td>
                </tr>
                </tbody>
               
            </table>
            </main>
    </div>
</body>

</html>