* {
    margin: 0;
    padding: 0;
    font-style: bold;
    clear: both;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins';
    
}



body {
    overflow: hidden;
}

.fi-rs-settings-sliders{
    rotate: 30deg;
 }
 button {
    background: #1CAA77;
    border: none;
    color: #ffffff;
    font-size: 13px;
    padding: 7px 20px;
    border-radius: 8px;

}
* {
    margin: 0;
    padding: 0;
    font-style: bold;
    clear: both;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins';
}



body {
    overflow: hidden;
}

 input{
     width: 350px;
     padding: 8px;
     border-radius: 10px;
     border: none;
     box-shadow: -1px 0 #1CAA77, 0 1px #1CAA77, 1px 0 #1CAA77, 0 -1px #1CAA77;
 }
 .managment{
     display: grid;
     grid-template-columns: repeat(2,1fr);
 }
 
 .select{
     text-align: right;
 }
 .select button{
     background: #ffffff;
     box-shadow: -1px 0 #1CAA77, 0 1px #1CAA77, 1px 0 #1CAA77, 0 -1px #1CAA77;
     border: none;
     color: #1CAA77;
     margin-left: 10px;
     width: auto;
 }
 
 .select button i{
    margin-left: 10px;
 }
 .select .active{
     background: #1CAA77;
     color: #ffffff;
 }
 .filter-product button{
    background: #F9E1D0;
    color: #EC6D0E;
    padding: 8px 4px 4px 8px;
    border-radius: 20px;
    margin: 15px 10px 15px 0px;
    font-weight: bold;
    color: #EC6D0E;
    padding: 5px 20px;
    
    
}
 
 .filter-product .active{
     background: #D8EBE7;
     color: #1CAA77;
     padding: 5px 20px;
     border-style: solid;
     border-color: #1CAA77;
     border-width: 1px;
     box-shadow: 1px 1px 8px #1CAA77;
 }
 .filter-product button img{
     width: 17px;
     height: 17px;
     padding: 0;
     margin: 0;
 margin-right: 2px;
 }
.sidebar {
    width: 230px;
    position: fixed;
    height: 100%;
    background-color: #F5F5F5;
    left: 0;
    top: 0;
    border-right: #D9D9D9 solid;
    padding: 20px;
    align-items: center;

}

.sidebar-menu .logo img {
    width: 200px;
    height: 120px;
    text-align: center;
    justify-content: center;
    margin-top: -10;
    

}

.sidebar-menu li {
    width: 100%;
    margin-bottom: 1.7rem;
    padding-left: 1rem;
}

.sidebar-menu a {
    padding-left: 1rem;
    display: block;
    color: #54716B;
    font-size: 15px;

}

.sidebar-menu a span {
    margin-left: 8px;

}

.sidebar-menu .active {
    background: #1CAA77;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #FAFAFA;
    border-radius: 10px;


}

.sidebar-menu .active a {
    color: #FAFAFA;
}

.sidebar-menu .active span {
    color: #FAFAFA;
}


.sidebar-menu a span:first-child {
    font-size: 1.5rem;
    padding-right: 1rem;
}


.main-content {
    margin-left: 220px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px ;
    margin: 0;
    background-color: #F5F5F5;
    /* position: fixed; */

}

header h1 {
    font-size: 20px;
}


main {
    margin-top: 0px;
    padding: 2rem 1.5rem;

}

.img-product {
    width: 40px;
    height: 30px;

}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    /* width: 100%; */
    overflow-y: auto;
    overflow-x: auto;
    height: 220px;
    display: block;
}

th{
    height: 30px;
}
td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 2px;
    justify-content: center;
    text-align: center;
    
}
.salers td:first-child,
.salers th:first-child{
    width: 300px;
    text-align: left;
}
.salers td:nth-child(4)
,.salers th:nth-child(4){
    width: 250px;
}
td:first-child,
th:first-child{
    width: 500px;
    text-align: left;
}
td:last-child,
th:last-child{
    width: 400px;
}

td:nth-child(2)
,th:nth-child(2){
    width: 300px;
}

.fi-rr-arrow-down,
.fi-rr-usd-circle,
.fi-rr-alarm-clock,
.fi-rr-badge-percent{
    color: #001A72;
    margin-left: 10px;
    text-align: center;
}

/* tr:nth-child(even) {
    background-color: #dddddd;
  } */

.fi-rr-edit {
    color: #578243;
    background: #B0F291;
    border-radius: 10px;
    margin-right:10px ;
}

.fi-rr-trash {
    border-radius: 15px;
    color: #FF0B0B;
    background: #f18787;
    margin-right:10px ;
}
.products{
    height: 250px;
}

button {
    background: #1CAA77;
    border: none;
    color: #ffffff;
    font-size: 13px;
    padding: 7px 20px;
    border-radius: 8px;

}

h2{
    padding: 10px 0px 15px;
    font-size: 15px;
    font-weight: bold;
}

