<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.3.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.3.0/uicons-regular-straight/css/uicons-regular-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.3.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>

</head>

<body>
    <app-decoration></app-decoration>

    <div class="main-content">
        <header>
            <h1>
                Home
            </h1>

        </header>


        <main>
            <h2>Analytics</h2>
            <div class="cards">
                <div class="card-single">
                    <div>
                        <h1>80</h1>
                        <span>Sales</span>
                    </div>
                    <div>
                        <i class="fi fi-rr-shopping-cart"></i>
                    </div>
                </div>

                <div class="card-single">
                    <div>
                        <h1>1000</h1>
                        <span>daily views</span>
                    </div>
                    <div>
                        <i class="fi fi-rs-eye"></i>
                    </div>
                </div>

                <div class="card-single">
                    <div>
                        <h1>100</h1>
                        <span>Message</span>
                    </div>
                    <div>
                        <i class="fi fi-rs-paper-plane"></i>
                    </div>
                </div>

                <div class="card-single">
                    <div>
                        <h1>1000$</h1>
                        <span>Earnies</span>
                    </div>
                    <div>
                        <i class="fi fi-rr-usd-circle"></i>
                    </div>
                </div>

                <div class="card-single">
                    <div>
                        <h1>100</h1>
                        <span>Customers</span>
                    </div>
                    <div>
                        <i class="fi fi-rr-users-alt"></i>
                    </div>
                </div>
            </div>


            <div class="most-product">
                <h2>Most Populer</h2>
                <div class="product-cards">
                    <div class="product-card">
                        <img src="../../assets/imags/potted plant (5).png">
                        <div><span class="types">Plant</span></div>
                        <div class="name">
                            <h3>Sapara plant</h3>
                        </div>
                        <div>
                            <p>2 day <i class="fi fi-br-dot-circle"></i> 4.8 <i class="fi fi-sr-star"></i></p>

                        </div>
                        <div class="buy">
                            <div class="price">
                                <h3>200.<span>99$</span></h3>
                            </div>
                            <button> <i class="fi fi-br-plus"></i></button>
                        </div>
                    </div>

                    <div class="product-card">
                        <img src="../../assets/imags/shovel.png">
                        <span class="types">Equipment</span>
                        <div class="name">
                            <h3>Shovel</h3>
                        </div>
                        <div>
                            <p>2 day <i class="fi fi-br-dot-circle"></i> 4.8 <i class="fi fi-sr-star"></i></p>

                        </div>
                        <div class="buy">
                            <h3>200.<span>99$</span></h3>
                            <button> <i class="fi fi-br-plus"></i></button>
                        </div>
                    </div>

                    <div class="product-card">
                        <img src="../../assets/imags/fertlizer (1).png">
                        <span class="types">Fertlizer</span>
                        <div class="name">
                            <h3>Plantel Fertlizer</h3>
                        </div>
                        <div>
                            <p>2 day <i class="fi fi-br-dot-circle"></i> 4.8 <i class="fi fi-sr-star"></i></p>

                        </div>
                        <div class="buy">
                            <h3>200.<span>99$</span></h3>
                            <button> <i class="fi fi-br-plus"></i></button>
                        </div>
                    </div>

                    <div class="product-card">
                        <img src="../../assets/imags/potted plant (3).png">
                        <span class="types">Plant</span>
                        <div class="name">
                            <h3>Orkedia plant</h3>
                        </div>
                        <div>
                            <p>2 day <i class="fi fi-br-dot-circle"></i> 4.8 <i class="fi fi-sr-star"></i></p>

                        </div>
                        <div class="buy">
                            <h3>200.<span>99$</span></h3>
                            <button> <i class="fi fi-br-plus"></i></button>
                        </div>
                    </div>

                    <div class="product-card">
                        <img src="../../assets/imags/mattock.png">
                        <span class="types">Equipment</span>
                        <div class="name">
                            <h3>Mattock</h3>
                        </div>
                        <div>
                            <p>2 day <i class="fi fi-br-dot-circle"></i> 4.8 <i class="fi fi-sr-star"></i></p>

                        </div>
                        <div class="buy">
                            <h3>200.<span>99$</span></h3>
                            <button> <i class="fi fi-br-plus"></i></button>
                        </div>
                    </div>

                    <div class="product-card">
                        <img src="../../assets/imags/potted plant (1).png">
                        <span class="types">Plant</span>
                        <div class="name">
                            <h3>linear poted sapare</h3>
                        </div>
                        <div>
                            <p>2 day <i class="fi fi-br-dot-circle"></i> 4.8 <i class="fi fi-sr-star"></i></p>

                        </div>
                        <div class="buy">
                            <h3>200.<span>99$</span></h3>
                            <button> <i class="fi fi-br-plus"></i></button>
                        </div>
                    </div>

                    <div class="product-card">
                        <img src="../../assets/imags/fertlizer (2).png">
                        <span class="types">Eertlizer</span>
                        <div class="name">
                            <h3>Fertlizer</h3>
                        </div>
                        <div>
                            <p>2 day<i class="fi fi-br-dot-circle"></i> 4.8 <i class="fi fi-sr-star"></i></p>

                        </div>
                        <div class="buy">
                            <h3>200.<span>99$</span></h3>
                            <button> <i class="fi fi-br-plus"></i></button>
                        </div>
                    </div>

                    <div class="product-card">
                        <img src="../../assets/imags/trowel.png">
                        <span class="types">Equipment</span>
                        <div class="name">
                            <h3>Trowel</h3>
                        </div>
                        <div>
                            <p>2 day <i class="fi fi-br-dot-circle"></i> 3.8 <i class="fi fi-sr-star"></i></p>

                        </div>
                        <div class="buy">
                            <h3>200.<span>99$</span></h3>
                            <button> <i class="fi fi-br-plus"></i></button>
                        </div>
                    </div>

                    <div class="product-card">
                        <img src="../../assets/imags/firtalizer.png">
                        <span class="types">Firtalizer</span>
                        <div class="name">
                            <h3>Living Organic</h3>
                        </div>
                        <div>
                            <p>2 day <i class="fi fi-br-dot-circle"></i> 3.8 <i class="fi fi-sr-star"></i></p>

                        </div>
                        <div class="buy">
                            <h3>200.<span>99$</span></h3>
                            <button> <i class="fi fi-br-plus"></i></button>
                        </div>
                    </div>

                </div>

            </div>
        </main>
    </div>
</body>

</html>