 <div class="container">

        <div class="left_side">
            <img class="left_img" src="../../assets/imags/photo login.png " alt=" ">
            <h2 class="left_h2">Admin App</h2>
        </div>

        <div class="right_side" >
            <img class="right_img" src="../../assets/imags/loginside.png " alt=" ">
            
            <form action="" (submit)="goToConfirmEmail()">
                <!-- <h2>Register Form</h2> -->
              <h2 class="right_h2">Forget Pasword</h2>
                <div class="input_box">
                  <i class="fa fa-envelope icon"></i>
                  <input class="input-field" type="text" placeholder="Email" name="email" autofocus required>
                </div>
              
                <button type="submit" class="login_button"  >Confirm</button>
              </form>
            
        </div>
    </div>